.calculator{
    background-color: blue;
    width: 230px;
    height: 460px;
    border: 5 px solid rgba(90,90,90,5);
   background-image: url("jaan.png.jpeg");
}
.display
{  
    margin-top: 5px;
    margin-left:25px;
    width: 175px;
    font-size: 25px;  
    justify-content: center;
    box-shadow: 1rem 1rem 1rem rgba(5, 3,2,2);
}
.buttoncontainer
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttondisplay
{
    flex-wrap: wrap;
    background-color:black;
    justify-content: center;
    margin: 10px;
    box-shadow: 1rem 1rem 1rem rgba(5, 3,2,2);
} 